.back{
    background-image: url("./images/doctor.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.f{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 35%;
    background-color:rgba(255, 255, 255, .4);
    height: 500px;
    width: 500px;
    box-shadow:10px 10px 10px lightsalmon;
  -webkit-box-shadow:10px 10px 10px lightsalmon;
  -moz-box-shadow: 10px 10px 10px lightsalmon;
  border-radius: 4px;
}
.t1{
    border: none;
    outline: none;
    border-color: transparent;
}
.t1:hover{
    border: none;
    outline: none;
    border-color: transparent;
}
@media screen and (max-width:810px) {
    .f{
        position: absolute;
    top: 20%;
    left: 20%;
    }
    
}
@media screen and (max-width:546px) {
    .f{
        position: absolute;
    top: 10%;
    left: 10%;
    }
    
}